<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome to Foundations of Business Programming</h1>

<p><strong>Python</strong> is one of the most widely used programming languages in the world and one of the <i>best</i> languages to learn if it is your first.</p>
<p> From web development, automation, and data analysis to machine learning, Python is used across all different kinds of industries/disciplines.</p>
<p> This course will give you a solid foundation in Python, with an emphasis on writing clear, practical code and understanding the tools used by professional developers.</p>

<h2>Topics We'll Cover</h2>
<ul>
  <li><strong>Terminal / Command Line</strong>: Understanding the difference between the system prompt (<code>$</code>, <code>%</code>, <code>PS></code>) and the Python interpreter prompt (<code>&gt;&gt;&gt;</code>)</li>
  <li><strong>Types</strong>: <code>int</code>, <code>float</code>, <code>bool</code>, <code>str</code>, <code>range</code>, <code>list</code>, <code>dict</code>, <code>tuple</code>, <code>set</code></li>
  <li><strong>String Methods & Data Wrangling</strong>: Using <code>split()</code>, <code>join()</code>, <code>strip()</code>, slicing, and other common techniques to manipulate and clean data</li>
  <li><strong>Functions</strong>: Defining and calling functions <code>def</code>, <code>return</code>,<code>*args</code>,<code>**kwargs</code></li>
  <li><strong>Conditionals</strong>: <code>if</code>, <code>elif</code>, <code>else</code></li>
  <li><strong>Loops</strong>: <code>for</code> and <code>while</code> loops, nested loops, <code>break</code>, <code>continue</code>, <code>enumerate</code></li>
  <li><strong>Comprehensions</strong>: List, dictionary, and set comprehensions</li>
  <li><strong>Modules & Packages</strong>: Using <code>import</code>, <code>from</code>, <code>as</code> to bring in libraries</li>
  <li><strong>File I/O</strong>: Reading from and writing to files using <code>open()</code> and <code>with</code></li>
  <li><strong>Exceptions</strong>: Handling errors gracefully with <code>try</code> / <code>except</code></li>
  <li><strong>Command-line Arguments</strong>: Using <code>sys.argv</code> to accept user input from the terminal</li>
</ul>

<h2>More to Explore</h2>
<p>We’ll also introduce you to version control with Git, collaboration through GitHub, and debugging strategies to help you identify and fix issues in your code.</p>

<p>If you’re curious, persistent, and willing to practice, this course will equip you with the tools and confidence to continue programming beyond the classroom.</p>

{% endblock %}

